.header {
  background-image: url("img/image1.jpg");
  background-size: cover;
  background-position-x: 50%;
  height: 40rem;
  position: relative;
}
.header__hamburger {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 10rem;
}
.header__hamburger-btn {
  cursor: pointer;
}
.header__menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.75);
}
.header__menu-wrapper_hidden {
  display: none;
}
.header__menu-wrapper_visible {
  display: block;
}
.header__menu {
  position: relative;
  width: 250px;
  height: 100%;
  background-color: var(--brand-color);
}
.header__close-btn {
  position: absolute;
  top: 24px;
  right: 25px;
  cursor: pointer;
}
.header__navigation {
  margin: 0;
  padding-top: 140px;
  padding-left: 55px;
  padding-bottom: 139px;
  list-style-type: circle;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
}
.header__navigation-list-item::marker {
  color: var(--text);
  font-size: 2.4rem;
}
.header__navigation-list-item {
  position: relative;
  cursor: pointer;
}
.header__navigation-text-item {
  position: relative;
  top: -4px;
}
.header__navigation-list-item:hover {
  color: var(--text);
}

.header__menu-socials {
  position: absolute;
  bottom: 51px;
  left: 80px;
}

.header__about-wrapper {
  width: var(--grid-sm);
  margin: 0 auto;
}
.header__about-name {
  position: relative;
}
.header__about-name-text {
  position: relative;
  z-index: 2;
  margin-left: 0.825rem;
  font-weight: 700;
}
.header__about-name .circle {
  position: absolute;
  z-index: 1;
  top: -0.625rem;
  left: 0rem;
}
.header__about-headline {
  width: 18.125rem;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 39px;
}
.header__about .link {
  margin-right: 44px;
}
.header__socials {
  display: none;
  position: absolute;
  top: 370px;
  left: -76px;

  justify-content: space-between;
  width: 338px;
  color: var(--text);
  transform: rotate(-90deg);
}
.header__socials-text {
  position: relative;
  top: -15px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
}
.header__socials-line {
  width: 70px;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
}

@media all and (min-width: 600px) {
  .header__menu {
    width: 345px;
  }
  .header__navigation {
    padding-left: 75px;
  }
  .header__menu-socials {
    position: absolute;
    bottom: 51px;
    left: 128px;
  }
}
@media all and (min-width: 720px) {
  .header__hamburger {
    padding-right: 1.875rem;
    padding-bottom: 10rem;
  }
  .header__about-wrapper {
    width: var(--grid-md);
  }
  .header__about-headline {
    width: 33.125rem;
    font-size: 3rem;
    line-height: 60px;
  }
}
@media all and (min-width: 1024px) {
  .header {
    height: 50rem;
  }
  .header__about-wrapper {
    width: var(--grid-lg);
  }
}
@media all and (min-width: 1280px) {
  .header__about-wrapper {
    width: var(--grid-xl);
  }
}
@media all and (min-width: 1440px) {
  .header {
    background: linear-gradient(#bed9ec, #b8e2fa);
    background-image: url("img/image1.jpg");
    background-image: url("img/image1.jpg"), linear-gradient(#bed9ec, #bbe6f9);
    background-repeat: no-repeat;
    background-position: 50% 24%;
  }
  .header__socials {
    display: flex;
  }
}
