:root {
  --brand-color: #ffa501;
  --brand-color-hover: #b87700;
  --text: #000;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.button {
  width: 135px;
  height: 45px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: var(--brand-color);
  font-size: 0.875rem;
  font-weight: 700;
}
.button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  background: var(--brand-color-hover);
  color: white;
  cursor: pointer;
}
.link {
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--text);
  text-decoration: none;
}
.link:visited {
  color: var(--text);
}
.socials {
  width: 90px;
  display: flex;
  justify-content: space-between;
}
